* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin-top: 2rem;
  margin: 0 auto;
}

.iphone {
  padding-top: 2rem;
  max-width: 400px;
  position: relative;
  margin: 0 auto;
  border: 2px solid red;
  z-index: -2;
}
.iphone .image1 {
  width: 100%;
  z-index: -1;
}
.image1,
.image2 {
  display: block;
  margin: 0 auto;
}

.iphone_bottom .image2 {
  width: 30%;
  margin-top: -110px;
}

.iphone {
  position: relative;
}

.screen {
  display: flex;
  position: absolute;
  top: 40%;
  left: 40%;

  border: 3px solid pink;
}

.time {
  position: absolute;
  top: -600%;
  left: -30%;
  font-size: 4rem;
  color: white;
}
