* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   width: 100vw;
   height: 100vh;
   font-family: Helvetica, sans-serif;
   /* background-image: linear-gradient(
      to top right,
      rgb(13, 149, 233),
      rgb(211, 47, 159)
   ); */
   background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   margin: 0 auto;
   width: 80vw;
   height: 60vh;
}

.title {
   display: flex;
   height: 15vh;
   justify-content: center;
   align-items: center;

   color: rgb(77, 77, 77);
}

/* iPhone Elements */

.iphone {
   display: flex;
   margin: 0 auto;
   justify-content: center;
   align-content: space-between;
   flex-direction: column;
   background-image: url(".//src//img/iPhoneScreenCombined.png");
   background-size: cover;
   background-position: center;
   width: 90%;
   height: 110%;
}
.bottom {
   position: absolute;
   top: 88%;
   left: 9%;
   /* background-image: url(/src/img/bottomMenu.jpg); */
   height: 6.8vh;
   width: 100%;
   background-size: contain;
   background-repeat: no-repeat;
}

/* Timer Screen */
.time {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 110%;
   color: white;
}

.time div {
   font-size: 3rem;
   font-weight: 100;
   text-align: center;
}

/*Buttons*/
.buttons {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding-bottom: 1.5rem;
   height: 20%;
   width: 100%;
   outline: none;
}
.start {
   color: greenyellow;
   background-color: #12301d;
   font-size: 0.9rem;
}
.lap {
   color: rgb(210, 210, 210);
   background-color: #585858;
   outline: 3px solid #585858;
}
.buttons .start,
.buttons .lap {
   border: 2px solid hsl(0, 0%, 0%);
   border-radius: 50%;
   height: 7vh;
   width: 7vh;
}

.buttons .start {
   color: #60cd70;
   outline: 3px solid rgb(24, 50, 28);
}
.buttons .lap {
   outline: 3px solid #585858;
}

/* Laps Section */
.laps {
   margin: 0 auto 6.2rem auto;
   height: 60%;
   width: 90%;
   overflow: scroll;
   scrollbar-color: red yellow;
}
.laps::-webkit-scrollbar {
   width: 7px;
}
.laps::-webkit-scrollbar-thumb {
   border-radius: 6px;
   border: 9px solid white;
}

.single-lap {
   display: flex;
   padding: 0.4rem 0.8rem;
   list-style: none;
   justify-content: space-between;
   color: white;
   border-bottom: 1px solid rgb(67, 67, 67);
}

@media screen and (max-height: 700px) {
   .container {
      width: 70vw;
      height: 65vh;
   }
}

@media screen and (max-height: 750px) and (min-height: 700px) {
   .container {
      width: 80vw;
      height: 65vh;
   }
}
@media screen and (max-height: 1200px) and (min-height: 1001px) {
   .container {
      width: 50vw;
      height: 60vh;
   }
}
@media screen and (max-height: 1400px) and (min-height: 1201px) {
   .container {
      width: 50vw;
      height: 60vh;
   }
}
@media screen and (max-height: 720px) and (min-height: 710px) {
   .container {
      width: 50vw;
      height: 60vh;
   }
}
@media screen and (max-height: 653px) and (min-height: 652px) {
   .container {
      width: 90vw;
      height: 65vh;
   }
}

@media screen and (max-height: 600px) and (min-height: 599px) {
   .container {
      width: 20vw;
      height: 55vh;
   }
   .container .time div {
      font-size: 2rem;
   }
}

@media screen and (max-height: 800px) and (min-height: 799px) {
   .container {
      width: 20vw;
      height: 55vh;
   }
}

@media screen and (min-width: 500px) and (max-width: 1300px) {
   .iphone {
      max-width: 270px;
      max-height: 550px;
   }
}
@media screen and (min-width: 1301px) and (max-width: 1800px) {
   .iphone {
      max-width: 300px;
      max-height: 600px;
   }
}
