* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   height: 100vh;
   font-family: Arial, Helvetica, sans-serif;
   background-image: linear-gradient(
      to top right,
      rgb(13, 149, 233),
      rgb(211, 47, 159)
   );
}

.stopwatch h1 {
   font-size: 2rem;
   text-align: center;
   color: white;
   padding-top: 4rem;
}

.container {
   margin: 0 auto;
   width: 365px;
   height: 75vh;
   border: 2px solid black;
}

.container .screen {
   border: solid 4px red;
}

.start {
   color: white;
   background-color: green;
}

li {
   text-decoration: none;
   list-style: none;
}
